<div>
  <p><%= comment.commenter %> said:</p>
  <%= comment.body %>

<p>
	<% if permitted_to? :edit, comment %>
  		<%= link_to 'Edit', edit_comment_path(comment) %> |
	<% end %>
	<% if permitted_to? :destroy, comment %>
  		<%= link_to 'Delete', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
	<% end %>
</p>
</div>